<link rel="stylesheet" type="text/css" media="screen"
 href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

<script src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js"></script>

<h2>New Event</h2>
<hr />
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="eventName">Event Name</label>
    <div class="controls">
      <input type="text" id="eventName">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="eventType">Event Type</label>
    <div class="controls">
    	<select id="eventType">
    		<option>Lecture</option>
    	</select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="start_time">Start Time</label>
    <div class="controls">
      <input type="text" id="start_time">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="end_time">End Time</label>
    <div class="controls">
      <input type="text" id="end_time">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="eventLocation">Location</label>
    <div class="controls">
      <input type="text" id="eventLocation">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="activityPrivacy">Privacy</label>
    <div class="controls">
    	<select id="activityPrivacy">
    		<option>Private</option>
    		<option>Public</option>
    	</select>
    </div>
  </div>

  <div class="control-group">
  	<label class="control-label" for="capacity">Capacity</label>
  	<div class="controls">
  		<input type="number" id="capacity">
  	</div>
  </div>

  <div class="control-group">
  	<label class="control-label" for="activityDescription">Description</label>
  	<div class="controls">
  		<textarea id="activityDescription"></textarea>
  	</div>
  </div>

  <div class="well">
    <div id="datetimepicker4" class="input-append">
      <input data-format="yyyy-MM-dd" type="text"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>
  </div>

  <div class="control-group">
  	<button class="btn btn-primary" ng-click="createActivity(eventName)">Save</button>
  	<button class="btn">Cancle</button>
  </div>
  <hr />

  <script type="text/javascript">
  $(function() {
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });
  </script>
</form>