<h2>New Event</h2>
<hr />
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="eventName">Event Name</label>
    <div class="controls">
      <input type="text" id="eventName">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="eventType">Event Type</label>
    <div class="controls">
    	<select id="eventType">
    		<option>Lecture</option>
    	</select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="eventTime">Time</label>
    <div class="controls">
      <input type="text" id="eventTime">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="eventLocation">Location</label>
    <div class="controls">
      <input type="text" id="eventLocation">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="eventPrivacy">Privacy</label>
    <div class="controls">
    	<select id="eventPrivacy">
    		<option>Private</option>
    		<option>Public</option>
    	</select>
    </div>
  </div>

  <div class="control-group">
  	<label class="control-label" for="eventNumber">Number of Participants</label>
  	<div class="controls">
  		<input type="number">
  	</div>
  </div>

  <div class="control-group">
  	<label class="control-label" for="eventDescription">Description</label>
  	<div class="controls">
  		<textarea></textarea>
  	</div>
  </div>

  <div class="control-group">
  	<button class="btn btn-primary">Save</button>
  	<button class="btn">Cancle</button>
  </div>
  <hr />
</form>