<div class="container">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
			</div>
			<div class="span3">
				<div class="login-form" ng-controller="LoginCtrl">
					<!--<h2>Login</h2>
					<form novalidate class="login-form" ng-submit="loginSubmit()">
						<fieldset>
							<div class="clearfix">
								<input type="text" placeholder="Username" ng-model="user.name" required /><br />
							</div>
							<div class="clearfix">
								<input type="password" placeholder="Password" ng-model="user.password" required ><br />
							</div>
							<button class="btn primary" type="submit" ng-click="login()" href="/#/home">Sign in</button> 
						</fieldset>
					</form>-->
					<a href="/#/home">Login with JAccount</a>
				</div>
			</div>
		</div>
	</div>
</div>